<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.employeetracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Proxy Detector"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="Proxy Detector"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".neww"
            android:label="@string/title_activity_neww"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".existing"
            android:label="@string/title_activity_existing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmployeeDetails"
            android:label="@string/title_activity_employee_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".update"
            android:label="@string/title_activity_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".countt"
            android:label="@string/title_activity_countt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".neww1"
            android:label="@string/title_activity_neww1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".neww2"
            android:label="@string/title_activity_neww2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".existing1"
            android:label="@string/title_activity_existing1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".existing2"
            android:label="@string/title_activity_existing2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forgot"
            android:label="@string/title_activity_forgot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".update1"
            android:label="@string/title_activity_update1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forgot1"
            android:label="@string/title_activity_forgot1"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>
